<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywd.blog.dao.ReCommentDao">

	<resultMap type="ReComment" id="ReCommentResult">
		<result property="id" column="id"/>
		<result property="reComment" column="reComment"/>
		<result property="commentId" column="commentId"/>
		<result property="reCommentDate" column="reCommentDate"/>
	</resultMap>
	
	<select id="findById" parameterType="Integer" resultMap="ReCommentResult">
		select * from t_recomment where id=#{id}
	</select>
</mapper> 